In [3]:
'''
Tipos de dados
str - string / texto 'Exemplo' / "Exemplo2"
int - inteiro (número negativo, positivo ou zero) -45, 36, 0, 13244654
float - ponto flutuante é um (número negativo, positivo ou zero que tenha .) -45.5, 0.0, 984.5
bool - booleano/valor lógico com dois valores - True/False 10 == 10
'''
a = 'letra a'
print(type(a))

<type 'str'>

In [4]:
b = 10
print(type(b))

<type 'int'>

In [5]:
c = 3.1415
print(type(c))

<type 'float'>

In [6]:
d = True
print(type(d))

<type 'bool'>

In [7]:
print('Rubens', type('Rubens'))

('Rubens', <type 'str'>)

In [8]:
print(10, type(10))

(10, <type 'int'>)

In [9]:
print(3.14, type(3.14))

(3.14, <type 'float'>)

In [10]:
print(False, type(False))

(False, <type 'bool'>)

In [11]:
print(10 == 10)

True

In [13]:
print(10 == 10, type(10 == 10))

(True, <type 'bool'>)

In [16]:
print('L' == 'l', type('L' == 'l'))

(False, <type 'bool'>)

In [17]:
print('L' == 'L', type('L' == 'L'))

(True, <type 'bool'>)

In [18]:
print(0.0, type(0.0))

(0.0, <type 'float'>)

In [19]:
print(bool(''))  # vazio é falso

False

In [20]:
print(bool(0))  #valor zero é falso

False

In [21]:
print(bool(1))  #valor um é verdadeiro

True

In [24]:
# type casting
print(int(3.14), type(int(3.14)))  # fazendo um casting de float para int

(3, <type 'int'>)

In [25]:
print('rubens', type(bool('rubens')))  # fazendo um casting de str para bool

('rubens', <type 'bool'>)

In [26]:
print('2019', type(float(2019))) # fazendo um casting de int para float

('2019', <type 'float'>)

In [27]:
print('barbosa', (bool('barbosa')))  # um valor que não é vazio é verdadeiro

('barbosa', True)

In [1]:
print('txt', int('txt'))  # não posso converter um texto pra inteiro

ValueError: invalid literal for int() with base 10: 'txt'

In [31]:
print('10', type(int('10')))  # posso converter um número de str para inteiro por ex

('10', <type 'int'>)