### for in

In [1]:
text = 'python'

for char in text:
    print(char)

p
y
t
h
o
n

In [2]:
## change p to P
new_text = ''

for char in text:
    if char == 'p':
        new_text = char.upper()
    else:
        new_text += char
        
print(new_text)

Python

In [3]:
## function range(start=0, stop, step)
for num in range(5):
    print(num)

0
1
2
3
4

In [4]:
# start and stop
for num in range(5, 10):
    print(num)

5
6
7
8
9

In [5]:
# step 2
for num in range(1, 10, 2):
    print(num)

1
3
5
7
9

In [6]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [7]:
# acha os multiplos de 8
for num in range(0, 100, 8):
    print(num)

0
8
16
24
32
40
48
56
64
72
80
88
96

In [8]:
# acha os multiplos de 8
for num in range(100):
    if num % 8 == 0:
        print(num)

0
8
16
24
32
40
48
56
64
72
80
88
96

In [9]:
# step 3
for num in range(0, 10, 3):
    print(num)

0
3
6
9

In [10]:
# start and stop
# step -1
for num in range(20, 10, -1):
    print(num)

20
19
18
17
16
15
14
13
12
11

In [11]:
for num in range(10, 0, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1

### Listas (append, insert, pop, del, clear, extend, min, max)

In [13]:
lista = [0, 1, 2, 3, 'Rubens', True, 3.14]
print(lista)

[0, 1, 2, 3, 'Rubens', True, 3.14]

In [14]:
print(lista[0:3])

[0, 1, 2]

In [15]:
print(lista[:3])

[0, 1, 2]

In [16]:
print(lista[3:])

[3, 'Rubens', True, 3.14]

In [17]:
print(lista[-1]) ## last element

3.14

In [18]:
print(lista[0])

0

In [19]:
print(lista[::2]) # start, fim, step

[0, 2, 'Rubens', 3.14]

In [20]:
print(lista[::-1]) # end to init

[3.14, True, 'Rubens', 3, 2, 1, 0]

In [21]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

l3 = l1 + l2
l3

[1, 2, 3, 4, 5, 6]

### extend

In [27]:
l0 = [0, 0, 0]
l0.extend(l2)
l0

[0, 0, 0, 4, 5, 6]

In [31]:
la = []
la.extend('A')
la

['A']

### append - add at end

In [38]:
la.append('B')
la

['A', 'B']

In [39]:
la.append('C')
la

['A', 'B', 'C']

In [40]:
la.append('D')
la

['A', 'B', 'C', 'D']

In [41]:
la.append('E')
la

['A', 'B', 'C', 'D', 'E']

### pop - remove

In [42]:
la.pop()

'E'

In [43]:
la

['A', 'B', 'C', 'D']

In [44]:
la.pop()

'D'

In [45]:
la

['A', 'B', 'C']

In [46]:
la.pop()
la

['A', 'B']

### insert

In [47]:
l2

[4, 5, 6]

In [48]:
l2.insert(0, 'A')

In [49]:
l2

['A', 4, 5, 6]

In [50]:
l2.insert(2, 'B')
l2

['A', 4, 'B', 5, 6]

### del

In [51]:
l3

[1, 2, 3, 4, 5, 6]

In [52]:
del(l3[1:3])

In [53]:
l3

[1, 4, 5, 6]

### list

In [54]:
l2 = range(1,10)
l2

range(1, 10)

In [55]:
l2 = list(range(1,10))
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
for i in l2:
    print(i)

1
2
3
4
5
6
7
8
9

In [57]:
_sum = 0 
for i in l2:
    _sum = _sum + i
    print(_sum)

1
3
6
10
15
21
28
36
45

In [58]:
for v in lista:
    print('tipo: {} e valor: {}'.format( type(v), v))

tipo: <class 'int'> e valor: 0
tipo: <class 'int'> e valor: 1
tipo: <class 'int'> e valor: 2
tipo: <class 'int'> e valor: 3
tipo: <class 'str'> e valor: Rubens
tipo: <class 'bool'> e valor: True
tipo: <class 'float'> e valor: 3.14

### for (continue - break)

In [68]:
segredo = 'python3'
chances = 3

while True:
    letra = input('Digite uma letra: ')
    
    if chances <= 0:
        print('vc perdeu')
        break
        
    else:
        
        if len(letra) > 1:
            print('Isso nao vale, digite apenas uma letra!')
            continue

        if letra in segredo:
            print('A letra: {} existe na palavra secreta'.format(letra))
            break
            
        elif letra not in segredo:
            chances -= 1
            print('A letra: {} existe nao existe palavra secreta'.format(letra))

Digite uma letra: a
A letra: a existe nao existe palavra secreta
Digite uma letra: kk
Isso nao vale, digite apenas uma letra!
Digite uma letra: y
A letra: y existe na palavra secreta

In [1]:
var = ['A', 'B', 'C']

for i in var:
    print(i)
    print(i)

A
A
B
B
C
C

In [2]:
## toda vez que acha o continue ele vai pra iteracao do  loop
for i in var:
    print(i)
    continue
    print(i)

A
B
C

In [3]:
## assim que acha o break ele vai sair do loop
for i in var:
    print(i)
    break

A

### split, join, enumerate

In [4]:
## split - dividir uma string
## join - juntar uma string
## enumerate - enumerar elementos de uma lista (objetos iteraveis)

In [5]:
string = 'O Brasil é o país do futebol, o Brasil é penta.'

In [8]:
lista1 = string.split(' ')
print(lista1)

['O', 'Brasil', 'é', 'o', 'país', 'do', 'futebol,', 'o', 'Brasil', 'é', 'penta.']

In [9]:
lista2 = string.split(',')
print(lista2)

['O Brasil é o país do futebol', ' o Brasil é penta.']

In [19]:
for i in lista1:
    print('A palavra ou letra: ( {} ) apareceu {}x na frase'.format(i, lista1.count(i) ))

A palavra ou letra: ( O ) apareceu 1x na frase
A palavra ou letra: ( Brasil ) apareceu 2x na frase
A palavra ou letra: ( é ) apareceu 2x na frase
A palavra ou letra: ( o ) apareceu 2x na frase
A palavra ou letra: ( país ) apareceu 1x na frase
A palavra ou letra: ( do ) apareceu 1x na frase
A palavra ou letra: ( futebol, ) apareceu 1x na frase
A palavra ou letra: ( o ) apareceu 2x na frase
A palavra ou letra: ( Brasil ) apareceu 2x na frase
A palavra ou letra: ( é ) apareceu 2x na frase
A palavra ou letra: ( penta. ) apareceu 1x na frase

In [20]:
string = 'O Brasil é penta.'
lista = string.split(' ')
lista

['O', 'Brasil', 'é', 'penta.']

In [22]:
string2 = ' '.join(lista)
string2

'O Brasil é penta.'

In [25]:
for indice, valor in enumerate(lista):
    print(indice, valor)

0 O
1 Brasil
2 é
3 penta.

In [27]:
for indice, valor in enumerate(lista):
    print(indice, valor, lista[indice])

0 O O
1 Brasil Brasil
2 é é
3 penta. penta.

In [58]:
for i, j in enumerate(range(10,1,-1)):
    print(i, j)

0 10
1 9
2 8
3 7
4 6
5 5
6 4
7 3
8 2

In [30]:
lista = [
    [1,2],
    [3,4],
    [5,6]
]

for i in lista:
    print(i)

[1, 2]
[3, 4]
[5, 6]

In [32]:
for idx, value in enumerate(lista):
    print(idx, value)

0 [1, 2]
1 [3, 4]
2 [5, 6]

In [37]:
lst = ['A', 'B', 'C']

a, b, c = lst

print('{} {} {}'.format(a, b, c))

A B C

In [40]:
## trocando valores de variaveis
x = 10
y = 12

aux = x
x = y
y = aux
print('{} {}'.format(x, y))

p = 10 
r = 12
p, r = r, p
print('{} {}'.format(p, r))

12 10
12 10

### operador ternário

In [41]:
logged_user = False

if logged_user:
    msg = 'Usuario logado'
else:
    msg = 'Usuario precisa logar'
    
print(msg)

Usuario precisa logar

In [43]:
msg = 'usuario logado' if logged_user else 'usuario precisa logar'
print(msg)

usuario precisa logar

In [45]:
idade = 18
msg = 'pode logar' if idade >= 18 else 'nao pode logar'
print(msg)

pode logar

### operador or

In [47]:
nome = input('Digite seu nome: ')
print(nome or 'Voce nao digitou nada!')

Digite seu nome:
Voce nao digitou nada!

In [60]:
cpf = '168.995.350-09'
cpf

'168.995.350-09'

In [68]:
## dando split na parte final
n_cpf = cpf.split('-')
n_cpf

['168.995.350', '09']

In [76]:
## pegando a primeira parte com join
new_cpf = ''.join(n_cpf[0])
new_cpf

'168.995.350'

In [77]:
## tirando os pontos .
ne_cpf = new_cpf.split('.')
ne_cpf

['168', '995', '350']

In [78]:
## juntando os 3 elementos da lista em uma string
str_cpf = ''.join(ne_cpf)
str_cpf

'168995350'

In [80]:
## colocando os valores em uma lista
_cpf = str_cpf.split(' ')
_cpf

['168995350']

In [99]:
decre = 10
lista = []

for value in str_cpf:
    lista.append(decre * int(value))
    decre -= 1

print(lista)
_sum = 0
for i in lista:
    _sum += i
print(_sum)

r = 11 - (_sum % 11)
if r > 9:
    digito1 = 0

[10, 54, 64, 63, 54, 25, 12, 15, 0]
297